{% extends 'base.html' %}
{% block title %}
- Upload
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <form action="" method="post" class="url_input" enctype="multipart/form-data">
           
            <p>내용을 입력해주세요 : {{form.contents}}</p>
            {% csrf_token %}
             <input type="submit" class="btn btn-primary" value="Upload">
        </form>


    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
